/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;

$abc-gold-font: #fec524;
$abc-white-font: #efefef;
$abc-2nd-white-font: #dadada; // not quite as light, i think
$abc-widget-font-color: #757575;
// Background colors:

// special colors
/* ----------- end Colors ----------- */
