/* ===================================================== */
/* Untappd menu on homepage----------------------------- */
/* ===================================================== */

.untappd-menu {
  .menu-nav, .menu-info, .no-price, .pagination-container {
    display: none;
  }
  .ut-menu-standard .menu-items-container .menu-item .beer .beer-details .beer-name span.beer-style {
    display: block;
    padding-left: 0px;
    font-size: .9em;
  }
  .ut-menu-standard .menu-items-container .menu-item {
    margin-bottom: 5px;
  }
  .ut-menu-standard .menu-items-container .menu-item .beer .beer-label{
    width: 15%;
    img {
      border-radius: 5%;
    }
  }
  .ut-menu-standard .menu-items-container .menu-item .beer .beer-details{
    width: 85%;
    .item-meta {
      text-align: right;
    }
  }
  .ut-menu-standard .menu-items-container .menu-item {
    padding: 0px;
  }
  .ut-menu-standard .section .section-heading .section-name {
    font-size: 2em;
  }
  .ut-menu-standard .section {
    padding: 2px 0px;
  }
//  * {
//    background: rgba(0, 0, 0, 0.6) !important;
//    background-color: rgba(0, 0, 0, 0.6) !important;
//  }
}
